{% extends 'layout.html.twig' %}
{% set active = 'homepage' %}

{% block content %}

    {% raw %}
         <div class="col-md-3 full-height" id="questions">
            <h2>Questions</h2>
                <div>
                <div class="form-group" ng-repeat="questions in questionsList">
                    <label for="{{ name.dtoAttribute }}">{{ questions.text }}</label>
                    <input ng-if="questions.type == undefined"
                           ng-blur="handleGenerator(generators, generators)"
                           id="{{ questions.dtoAttribute }}"
                           class="form-control questions"
                           type="text"
                           name="{{ questions.dtoAttribute }}"
                           value="{{ (questions.value) ? questions.value : questions.defaultResponse }}"
                           placeholder="{{ questions.text }}" />
                    <select ng-if="questions.type == 'select'"
                            id="{{ questions.dtoAttribute }}"
                            class="form-control questions"
                            name="{{ questions.dtoAttribute }}">
                            <option selected="selected" value="{{ questions.value }}">{{ questions.placeholder }}</option>
                            <option ng-click="handleGenerator(generators, generators)" ng-repeat="value in questions.values" value="{{ value.id }}">{{ value.label }}</option>
                    </select>
                </div>
                </div>
        </div>
        <div id="files" class="col-md-9 full-height">
            <h2>File list</h2>
            <div>
                <file-tree family="fileList" file-view="viewFile(fileObject)">
                </file-tree>
            </div>
        </div>
    {% endraw %}
{% endblock %}