{% extends 'layout.html.twig' %}
{% set active = 'homepage' %}

{% block content %}

    {% raw %}
         <div class="row">
              <div class="col-sm-12 col-md-2 sidebar sidebar-left arrow_box">
                  <h3>1) {{ backendCollection.text }}</h3>
                <a ng-click="showHistory()" data-toggle="tooltip" data-placement="right" rel="tooltip" title="Open history" class="pointer">
                    Open history
                </a>
                <a ng-click="backendConfig()" data-toggle="tooltip" data-placement="right" rel="tooltip" title="Create a new metadata source" class="pointer">
                    Create new source
                </a>
                <div class="list-group">
                    <a href="#"
                       class="list-group-item"
                       ng-repeat="backend in backendCollection.values"
                       ng-click="setBackend(backend.label)"
                       ng-class="{'active': backend.label === backendSelected}">
                        {{  backend.label }}
                    </a>
                </div>
             </div>
             <div class="col-sm-12 col-md-2 col-md-offset-2 sidebar sidebar-left arrow_box" ng-show="metadataCollection">
                  <h3>2) {{ metadataCollection.text }}</h3>
                <div class="list-group">
                    <a href="#"
                       class="list-group-item"
                       ng-repeat="metadata in metadataCollection.values"
                       ng-click="setMetadata(metadata.label)"
                       ng-class="{'active': metadata.label === metadataSelected}">
                        {{  metadata.label }}
                    </a>
                </div>
             </div>
             <div class="col-sm-12 col-md-2 col-md-offset-4 sidebar sidebar-left arrow_box" ng-show="generatorCollection">
                  <h3>3) {{ generatorCollection.text }}</h3>
                <div>
                    <a href="#"
                       class="list-group-item"
                       ng-repeat="generator in generatorCollection.values"
                       ng-click="setGenerator(generator.label)"
                       ng-class="{'active': generator.label === generatorSelected}">
                        {{  generator.label }}
                    </a>
                </div>
             </div>
             <div class="col-sm-12 col-md-2 col-md-offset-6 sidebar sidebar-left arrow_box" ng-show="questionList">
                <h3>4) Questions</h3>
                    <div>
                        <div class="form-group" ng-repeat="question in questionList">
                            <label for="{{ name.dtoAttribute }}">{{ question.text }}</label>
                            <input ng-if="question.type == 'text'"
                                   ng-blur="setQuestion(question.dtoAttribute)"
                                   ng-model="answers[question.dtoAttribute]"
                                   id="{{ question.dtoAttribute }}"
                                   class="form-control question"
                                   type="text"
                                   name="{{ question.dtoAttribute }}"
                                   value="{{ (question.value) ? question.value : question.defaultResponse }}"
                                   placeholder="{{ question.text }}" />
                            <select ng-if="question.type == 'directory'"
                                    id="{{ question.dtoAttribute }}"
                                    class="form-control question"
                                    ng-model="answers[question.dtoAttribute]"
                                    name="{{ question.dtoAttribute }}">
                                    <option selected="selected" value="{{ question.value }}">{{ question.placeholder }}</option>
                                    <option ng-repeat="value in question.values" ng-click="setQuestion(question.dtoAttribute)" value="{{ value.id }}">
                                        {{ value.label }}
                                    </option>
                            </select>
                            <select ng-if="question.type == 'select'"
                                    id="{{ question.dtoAttribute }}"
                                    class="form-control question"
                                    ng-model="answers[question.dtoAttribute]"
                                    name="{{ question.dtoAttribute }}">
                                    <option ng-repeat="value in question.values"
                                            ng-click="setQuestion(question.dtoAttribute)"
                                            ng-selected="(value.id === question.defaultResponse) ? 'selected' : null"
                                            value="{{ value.id }}">
                                        {{ value.label }}
                                    </option>
                            </select>
                        </div>
                    </div>
            </div>
            <div class="col-sm-12 col-md-4 col-md-offset-8 sidebar sidebar-left arrow_box" ng-show="fileList">
                <h2 class="text-center">File generation preview</h2>
                <ul ng-include="'assets/js/App/Template/file.html'">
                </ul>
            </div>
        </div>
    {% endraw %}
{% endblock %}