{% extends 'layout.html.twig' %}
{% set active = 'homepage' %}

{% block content %}

    {% raw %}
         <div class="row">
              <div class="col-sm-12 col-md-2 sidebar sidebar-left arrow_box">
                  <h3>1) Source</h3>
                <span ng-click="newSource()">Create new source</span>
                <div class="list-group">
                    <a href="#"
                       class="list-group-item"
                       ng-repeat="backend in backendCollection"
                       ng-click="setBackend(backend.label)"
                       ng-class="{'active': backend.label === backendSelected}">
                        {{  backend.label }}
                    </a>
                </div>
             </div>
             <div class="col-sm-12 col-md-2 col-md-offset-2 sidebar sidebar-left arrow_box" ng-show="metadataCollection">
                  <h3>2) MetaData</h3>
                <div class="list-group">
                    <a href="#"
                       class="list-group-item"
                       ng-repeat="metadata in metadataCollection"
                       ng-click="setMetadata(metadata.label)"
                       ng-class="{'active': metadata.label === metadataSelected}">
                        {{  metadata.label }}
                    </a>
                </div>
             </div>
             <div class="col-sm-12 col-md-2 col-md-offset-4 sidebar sidebar-left arrow_box" ng-show="generatorCollection">
                  <h3>3) Generator</h3>
                <div>
                    <a href="#"
                       class="list-group-item"
                       ng-repeat="generator in generatorCollection"
                       ng-click="setGenerator(generator.label)"
                       ng-class="{'active': generator.label === generatorSelected}">
                        {{  generator.label }}
                    </a>
                </div>
             </div>
             <div class="col-sm-12 col-md-2 col-md-offset-6 sidebar sidebar-left arrow_box" ng-show="questionList">
                <h3>4) Questions</h3>
                    <div>
                        <div class="form-group" ng-repeat="questions in questionList">
                            <label for="{{ name.dtoAttribute }}">{{ questions.text }}</label>
                            <input ng-if="questions.type == 'text'"
                                   ng-blur="setQuestion(questions.dtoAttribute)"
                                   ng-model="answers[questions.dtoAttribute]"
                                   id="{{ questions.dtoAttribute }}"
                                   class="form-control questions"
                                   type="text"
                                   name="{{ questions.dtoAttribute }}"
                                   value="{{ (questions.value) ? questions.value : questions.defaultResponse }}"
                                   placeholder="{{ questions.text }}" />
                            <select ng-if="questions.type == 'directory'"
                                    id="{{ questions.dtoAttribute }}"
                                    class="form-control questions"
                                    ng-model="answers[questions.dtoAttribute]"
                                    name="{{ questions.dtoAttribute }}">
                                    <option selected="selected" value="{{ questions.value }}">{{ questions.placeholder }}</option>
                                    <option ng-repeat="value in questions.values" ng-click="setQuestion(questions.dtoAttribute)" value="{{ value.id }}">
                                        {{ value.label }}
                                    </option>
                            </select>
                            <select ng-if="questions.type == 'select'"
                                    id="{{ questions.dtoAttribute }}"
                                    class="form-control questions"
                                    ng-model="answers[questions.dtoAttribute]"
                                    name="{{ questions.dtoAttribute }}">
                                    <option selected="selected" value="{{ questions.value }}">{{ questions.placeholder }}</option>
                                    <option ng-repeat="value in questions.values" ng-click="setQuestion(questions.dtoAttribute)" value="{{ value.id }}">
                                        {{ value.label }}
                                    </option>
                            </select>
                        </div>
                    </div>
            </div>
            <div class="col-sm-12 col-md-4 col-md-offset-8 sidebar sidebar-left arrow_box" ng-show="fileList">
                <h2 class="text-center">File generation preview</h2>
                <ul ng-include="'assets/js/App/Template/file.html'">
                </ul>
            </div>
        </div>
    {% endraw %}
{% endblock %}