<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ app.base_path }}favicon.ico">
    <title>Code Generator</title>
    {% if app.debug == true %}
    <link rel="stylesheet" href="{{ app.base_path }}/assets/css/main.css">
    {% else %}
    <link rel="stylesheet" href="{{ app.base_path }}/assets/build/style.css">
    {% endif %}
    {% if app.debug == true %}
    <script src="{{ app.base_path }}/assets/js/Vendor/pace/pace.js"></script>
    {% else %}
    <script src="{{ app.base_path }}/assets/build/pace.min.js"></script>
    {% endif %}
    <style type="text/css">
        body > div.navbar , body > div.container-full {
          visibility:hidden;
          opacity: 0;
          transition: opacity 0.5s linear;
        }
    </style>
    <script type="text/javascript">
        Pace.on('hide', function() {
            $('body > div.navbar , body > div.container-full').css({'visibility' : 'visible', 'opacity' : 1});
        });
        __BASEPATH__ = '{{ app.base_path }}';
    </script>
    {% if app.debug == true %}
    <script type="text/javascript"
            data-main="{{ app.base_path }}/assets/js/App/Bootstrap.js"
            src="{{ app.base_path }}/assets/js/Vendor/requirejs/require.js">
    </script>
    {% else %}
    <script type="text/javascript"
            data-main="{{ app.base_path }}/assets/build/script.js"
            src="{{ app.base_path }}/assets/build/require.min.js">
    </script>
    {% endif %}
</head>
<body ng-controller="GeneratorCtrl">
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    {% set active = active|default(null) %}
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container-full">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Code Generator</a>
        </div>
        <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-right" role="form">
                <div class="form-group">
                <button class="btn btn-success dropdown-toggle" ng-show="fileList" ng-click="generate()">Generate files !</button>
            </form>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <!-- Modal -->
    <modal></modal>
    <unsafe-modal></unsafe-modal>
    <view-file-modal></view-file-modal>
    <waitModal></waitModal>
    <new-source-modal></new-source-modal>
    <history-modal></history-modal>
    <search-generator-modal></search-generator-modal>
    <conflict></conflict>
    <metadatasource></metadatasource>
</body>
</html>
