<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
    <title>Code Generator</title>
    <link rel="stylesheet" href="{{ app.base_path }}/assets/css/bootstrap.css">
    <link rel="stylesheet" href="{{ app.base_path }}/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ app.base_path }}/assets/css/shCoreDefault.css">
    <link rel="stylesheet" href="{{ app.base_path }}/assets/css/styles.css">
    <link rel="stylesheet" href="{{ app.base_path }}/assets/css/nprogress.css">
    <script src="{{ app.base_path }}/assets/js/Vendor/nprogress.js"></script>
    <style type="text/css">
        body > div.navbar , body > div.container-full {
          visibility:hidden;
          opacity: 0;
          transition: opacity 0.5s linear;
        }
    </style>
    <script type="text/javascript">
        Pace.on('hide', function() {
            $('body > div.navbar , body > div.container-full').css({'visibility' : 'visible', 'opacity' : 1});
        });
        __BASEPATH__ = '{{ app.base_path }}';
    </script>
    <script type="text/javascript"
            data-main="{{ app.base_path }}/assets/js/App/Bootstrap.js"
            src="{{ app.base_path }}/assets/js/Vendor/require.js">
    </script>
</head>
<body ng-controller="GeneratorCtrl">
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    {% set active = active|default(null) %}
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container-full">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Code Generator</a>
        </div>
        <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-right" role="form">
                <div class="form-group">
                <button class="btn btn-success dropdown-toggle" ng-show="fileList" ng-click="generate()">Generate files !</button>
            </form>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
            {% block content %}
            {% endblock %}
    </div>
    <!-- Modal -->
    <modal></modal>
    <unsafe-modal></unsafe-modal>
    <waitModal></waitModal>
    <newSource>
    {% raw %}
    <div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">New source</h4>
            </div>
            <div class="modal-body">
            	<form>
            	  <div ng-if="configFormError != undefined" class="alert alert-danger fade in">
                       {{ configFormError }}
                  </div>
                  <label for="backend">Source</label>
                  <select name="backend"
                        class="form-control"
                        ng-model="adapter"
                        ng-options="obj.id as obj.label for obj in backendList">
                    <option value="">Select source</option>
                </select>
                </form>
                <div ng-if="configQuestionsList">
                    <form ng-submit="backendConfig()">
                        <div class="form-group" ng-repeat="questions in configQuestionsList">
                            <label>{{ questions.text }}</label>
                            <input ng-if="questions.type == undefined"
                                   class="form-control questions"
                                   type="text"
                                   name="{{ questions.dtoAttribute }}"
                                   placeholder="{{ questions.text }}" ng-model="configQuestion[questions.dtoAttribute]" />
                        </div>
                        <input type="submit" class="btn btn-success" value="Configure" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endraw %}
    </newSource>
    <conflict></conflict>
    <metadatasource></metadatasource>
</body>
</html>