<!DOCTYPE html>
<html lang="en"  ng-app="GeneratorApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Code Generator</title>

    <link rel="stylesheet" href="{{ app.base_path }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ app.base_path }}/assets/css/shCoreDefault.css">
    <script type="text/javascript">
		__BASEPATH__ = '{{ app.base_path }}';
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
</head>
<body ng-controller="GeneratorCtrl">
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    {% set active = active|default(null) %}
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container-full">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Code Generator</a>
        </div>
        <div class="collapse navbar-collapse">
        	<form class="navbar-form navbar-right" role="form" id="formBackend">
        	    <generators></generators>
        	    <metadata></metadata>
        		<div class="form-group">
		            <select name="backend" id="form_Backend" class="form-control" ng-model="backEnd" ng-change="backendChange()" ng-options="obj.id as obj.label for obj in backendList">
		            <option value="">Select Backend</option>
		            </select>
            	</div>
            	<button class="btn btn-success dropdown-toggle" ng-if="questionsList != undefined" ng-click="generate()">Generate files !</button>
            </form>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container-full row">
            {% block content %}
            {% endblock %}
            <div id="files" class="col-md-9 full-height">
            	<h2>File list</h2>
            	<div>
					<file-tree family="fileList" file-view="viewFile(fileObject)">
					</file-tree>
				</div>
            </div>
            <div class="col-md-3 full-height" id="questions">
            	<h2>Questions</h2>
            	<div>
	                <questions></questions>
                </div>
            </div>

    </div>
    <!-- Modal -->
	<modal></modal>
	<waitModal></waitModal>
	<conflict></conflict>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ app.base_path }}/assets/js/App/App.js"></script>
    <script type="text/javascript" src="{{ app.base_path }}/assets/js/App/Corp/File/FileDataObject.js"></script>
    <script type="text/javascript" src="{{ app.base_path }}/assets/js/App/Corp/Directory/DirectoryDataObject.js"></script>
    <script type="text/javascript" src="{{ app.base_path }}/assets/js/App/Corp/Directory/DirectoryDAO.js"></script>
    <script type="text/javascript" src="{{ app.base_path }}/assets/js/App/Corp/Directory/DirectoryBuilder.js"></script>
    <script type="text/javascript" src="{{ app.base_path }}/assets/js/App/Corp/Directory/DirectoryBuilderFactory.js"></script>
    <script type="text/javascript" src="{{ app.base_path }}/assets/js/App/Services/GeneratorService.js"></script>
    <script type="text/javascript" src="{{ app.base_path }}/assets/js/App/Services/GenerateService.js"></script>
    <script type="text/javascript" src="{{ app.base_path }}/assets/js/App/Services/ViewFileService.js"></script>
    <script type="text/javascript" src="{{ app.base_path }}/assets/js/App/Services/WaitModalService.js"></script>
    <script type="text/javascript" src="{{ app.base_path }}/assets/js/App/Controllers/GeneratorController.js"></script>
    <script type="text/javascript" src="{{ app.base_path }}/assets/js/App/Directives/File.js"></script>
    <script type="text/javascript" src="{{ app.base_path }}/assets/js/App/Directives/Generators.js"></script>
    <script type="text/javascript" src="{{ app.base_path }}/assets/js/App/Directives/Metadata.js"></script>
    <script type="text/javascript" src="{{ app.base_path }}/assets/js/App/Directives/Questions.js"></script>
    <script type="text/javascript" src="{{ app.base_path }}/assets/js/App/Directives/Modal.js"></script>
    <script type="text/javascript" src="{{ app.base_path }}/assets/js/App/Directives/Conflict.js"></script>
    <script type="text/javascript" src="{{ app.base_path }}/assets/js/Vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ app.base_path }}/assets/js/Vendor/shCore.js"></script>
	<script type="text/javascript" src="{{ app.base_path }}/assets/js/Vendor/shBrushPhp.js"></script>
<style type="text/css">
.file {
    cursor:pointer;
}
.directory {
    font-weight:bold;
}
.modal-dialog {
    margin: 30px auto;
    width: 80%;
}
.container-full {
  margin: 0 auto;
  width: 100%;
}

html, body {
    height: 100%;
}

#files {
    left:0px;
}

#questions {
    right:0px;
}

.full-height {
    bottom: 50px;
    position: absolute;
    top: 50px;
}
.full-height > div {
    bottom: -50px;
    overflow-y: auto;
    padding-right: 20px;
    position: absolute;
    top: 50px;
    width: 95%;
}​
</style>
</body>
</html>